html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
* {
  box-sizing: border-box; /*pour garder la meme taille*/
}
img {
  width: 100%;
  border: 0;
}
.container {
  width: 1440px;
  margin: auto;
  background-color: black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
h2 {
  font-family: "Dancing Script", cursive;
  color: darkgoldenrod;
}
header {
  background-image: url(../img/eggs.jpg);
  width: 100%;
  height: 612px;
}
.flexhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 10px 20px 10px;
}
.bordure{
  border:1px solid darkgoldenrod;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
}
li {
  list-style-type: none;
  padding: 20px;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  display: flex;
}
p {
  color: white;
}
.welcome {
  text-align: center;
  margin: auto;
}
.welcome h2 {
  color: darkgoldenrod;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  padding-bottom: 50px;
}
.welcome h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding-bottom: 50px;
}
.premierflex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}
.discover h2 {
  color: darkgoldenrod;
  padding-bottom: 20px;
  font-size: 35px;
}
.discover {
  margin-left: 55px;
  margin-top: 15px;
}
.see {
  color: darkgoldenrod;
  padding-top: 20px;
}
.img_burger {
  border: 1px solid darkgoldenrod;
  padding: 30px 0 0 30px;
}
.img_burger img {
  display: block;
}
.deuxième_flex {
  display: flex;
  margin-top: 35px;
  justify-content: center;
  justify-content: space-evenly;
}
.discover h3 {
  padding-bottom: 20px;
}
.tasteful h2 {
  color: darkgoldenrod;
  padding-bottom: 20px;
  font-size: 35px;
}
.tasteful h3 {
  padding-bottom: 20px;
}
.img_crusted {
  border: 1px solid darkgoldenrod;
  padding: 30px 30px 0 0;
}
.tasteful {
  margin-left: 45px;
  margin-top: 40px;
}
.menu {
  text-align: center;
}
.menu h2 {
  padding-bottom: 20px;
}
.menu h3 {
  padding-bottom: 10px;
}
.menu ul {
  display: flex;
  padding: 30px;
  margin-top: 30px;
  justify-content: center;
}
.sectcrusted {
  display: flex;
  justify-content: space-evenly;
}
.block1 {
  display: flex;
  align-items: center;
}
.amazing {
  margin-left: 20px;
}
.amazing h4 {
  color: white;
}
.block2 {
  display: flex;
}
.bobun h4 {
  color: white;
}
.bobun {
  margin-right: 10px;
  margin-top: 15px;
}
.sectcrusted2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.chief {
  width: 425px;
  height: 350px;
}
.sectcrusted3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}
.reservation {
  background-image: url(../img/reservation.jpg);
  text-align: center;
  height: 500px;
  width: 90%;
  margin: auto;
  position: relative;
  align-items: center;
}
.div1,
.div2,
.div3 {
  border: 1px solid white;
  padding: 15px;
  margin-top: 20px;
  margin: 20px;
}
.lesdiv {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
}
.reservation > div {
  position: absolute;
  top: 70px;
}
.makereser {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  margin-top: 30px;
}
button {
  color: white;
  text-align: center;
  background-color: darkgoldenrod;
  width: 200px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  border-radius: 15px;
}
.reservation h2 {
  margin-bottom: 30px;
  font-size: 50px;
}
.recipes {
  text-align: right;
  margin: 10px 40px 20px 40px;
  margin: auto;
  width: 70%;
  margin-bottom: 60px;
}
.chopped {
  display: flex;
  padding: 20px 0 20px 20px;
  /* justify-content: right; */
  align-items: center;
}
.chopped p {
  margin-left: 15px;
}
iframe {
  width: 100%;
}
footer {
  /* background-color: gray; */
  background-color: gray;
  /* background-image: url(../img/splash.png); */
  background-image: url(../img/splash.png);
  background-repeat: no-repeat;
  background-position-x: right;
  width: 100%;
  height: 425px;
}
footer {
  display: flex;
  justify-content: space-around;

  align-items: center;
  margin-top: -4px;
}
footer h2 {
  color: darkgoldenrod;
  font-family: "Dancing Script", cursive;
  font-family: "Roboto", sans-serif;
  margin: 40px 40px 20px 10px;
}
/* .open {
  background-position: top;

  /* /* background-size: contain; */
@media  (max-width:1400px) {
  .container{
    background-color: red;
    width: 100%;
  
  }
  .makereser{
    width: 100%;
  }
}